NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=StockBox 2.0
NODE_ENV=development

NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=stockbox-assets

SINGLE_USER_EMAIL=
SINGLE_USER_PASSWORD_HASH=
SESSION_SECRET=
